[submodule "zig/vendor/zaudio"]
	path = zig/vendor/zaudio
	url = https://github.com/zig-gamedev/zaudio.git
[submodule "zig/vendor/dvui"]
	path = zig/vendor/dvui
	url = https://github.com/david-vanderson/dvui.git
[submodule "rust/vendor/gpui-video-player"]
	path = rust/vendor/gpui-video-player
	url = https://github.com/waterblower/gpui-video-player
